<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.seensay">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".twelveexplode"></activity>
        <activity android:name=".elevenexplode" />
        <activity android:name=".tenexplode" />
        <activity android:name=".nineexplode" />
        <activity android:name=".eightexplode" />
        <activity android:name=".sevenexplode" />
        <activity android:name=".sixexplode" />
        <activity android:name=".fiveexplode" />
        <activity android:name=".fourexplode" />
        <activity android:name=".threeexplode" />
        <activity android:name=".twoexplode" />
        <activity android:name=".oneexplode" />
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FarmAnimalActivity" />
        <activity android:name=".NumbersActivity" />
        <activity android:name=".ForestAnimalsActivity" />
    </application>

</manifest>